#blok1a{
width:100%;
height:970px ;
text-align: left;
margin: 20px auto;
padding:0px;
}


#blok1b{
width:250px;
height:335px;
float:left;
margin:60px 0px 0px 0px;
}
#blok1b img{
width:300px;
height:335px;
}

#blok1c{
float:right;
width:67%;
height:560px;
margin:40px 0px 0px 0px;
}

  
    
/* Для отображения на устройствах меньше 980px*/    

 @media screen and (min-width:240px) and (max-width:420px) {   
#blok1c{
float:left;
width:95%;
height:460px;
margin:10px 5px 0px 5px;
}
#blok1b{
margin:20px 0px 0px 5px;
width:200px;
height:223px;
}
#blok1b img{
width:200px;
height:223px;
}
#blok1a{
width:100%;
height:900px ;
margin: 10px auto;
}
#blok1c img{
float:left;
width:200px;
height:68px;
}	
 }
 
 
@media screen and (min-width:419px) and (max-width:619px) { 
#blok1c{
float:left;
width:95%;
height:550px;
margin:10px 5px 0px 5px;
}
#blok1b{
margin:20px 5px 0px 5px;
width:220px;
height:256px;
}
#blok1b img{
width:230px;
height:256px;
}
#blok1a{
width:100%;
height:1200px ;
margin: 10px auto;
}
#blok1c img{
float:left;
width:250px;
height:85px;
}	
}

         
@media screen and (min-width:620px) and (max-width:1000px) {
	#blok1b{
width:130px;
height:167px;
}
#blok1b img{
width:150px;
height:167px;
}
#blok1c{
float:right;
width:67%;
height:750px;
margin:30px 0px 0px 0px;
}
#blok1c img{
float:left;
width:250px;
height:85px;
}
#blok1a{
height:1200px ;
}
}
 
 
@media screen and (min-width:999px) and (max-width:1250px) {
	#blok1b{
width:220px;
height:256px;
}
#blok1b img{
width:230px;
height:256px;
}
#blok1c{
height:550px;
}
#blok1a{
height:950px ;
}
        }


