
#menu li  a{color:rgb(252,252,252);font-family:verdana,arial,sans-serif;text-decoration:none}
#menu_left{
opacity: 0.6;
padding:0px 5px;
width:46px;
height:42px;
margin: 10px 10px;
position: absolute;
top: 0;
left: 0;
z-index:100;

text-decoration:none;
clear: both;
} 

#menu_left:hover{
opacity: 0.9;

} 

#menuback {
width:200px;
background: #000; 
padding:0px 0px 10px 10px;
}
/* menu */
#nav_left li a {

width:200px;
height:35px;
line-height: 45px;
padding:0px 0px 0px 0px;
text-decoration:none;
margin:0 0px;
display:block;
font-size:13px;
font-weight:400;
color: rgb(252,252,252);
text-transform:uppercase;
}
/* submenu */
#nav_left li ul li a {

height: 35px; /* submenu item height */
width:120px;
 /* submenu item minimal width */
line-height: 35px;
text-shadow: none;
padding:0px 40px;
margin: 0px 0px;
display:block;
font-size:13px;
font-weight:400;
text-transform:inherit;
color: rgb(252,252,252); 
} /* Submenu item */

#subnav_left  {

height:110px; /* submenu item height */
width:80px;
 /* submenu item minimal width */
line-height: 30px;
text-shadow: none;
padding:0px 45px;
margin: 0px 0px;
display:block;
font-size:10px;
font-weight:400;
text-transform:inherit;
color: rgb(252,252,252); 
}

#nav_left li ul li {
_display:inline; /* for IE */
}


#nav_left a:hover  {
color:#696969;
text-shadow: 0 1px 1px rgb(252,252,252);
}


/* Цветовая схема */
/* Menu bar background color */
#navigation, 
#nav li ul li, 
#nav li ul li a{
background: #000; 
}

/* Menu Item text color */
#nav li a, 
#nav li a:hover, 
#nav li ul li,
#nav li ul li a,
#nav li ul li a:hover  {
color: rgb(252,252,252); 
}

/* Menu Item background color on hover */
#nav li a:hover, 
#nav li ul li a:hover  {
background: #000; 
}

/* Text Shadow */
#nav li a, 
#nav li a:hover, 
#nav li ul li a:hover  {
text-shadow: 0 1px 1px rgb(252,252,252); 
}

/* Search form colors */
.searchform input, .searchform input:not(:focus){
color:#B1B1B1; /*search form text color default*/
background: #fff; /*search form background color default*/
}
.searchfield:focus{
color: #000; /* search form text color after click */
}

/* /КОНЕЦ Цветовой схемы */

#menu_div{
clear: both;
position: relative;
top: 0;
left: 0;
} /* Free space to top specialy for menu */

#navigation {
position:fixed;
}

#navigation, #menu_div {

width: 1900px;
margin:0 auto;
padding: 0 ;
}

#menu_div, #navigation, #menu, #nav{
height: 65px; /* menu height */
}

#menu_div:hover,
#navigation:hover,
#nav li a:hover, #nav li ul a
{
opacity: 0.95;/* Menu transparency on mouse hover*/
} 


#menu_div,
#navigation, 
#nav li a, 
#menu_div:not(:hover), 
#navigation:not(:hover)
{
opacity: 0.6;/* Menu transparency on mouse out */
}

#menu {
width:100%;
margin:0 auto; /*center the menu*/
padding:0;
position: relative;
}

#nav{

width: 700px;
margin:0 auto;
padding:20px;
position: relative;
font-family: 'Arial', Helvetica, sans-serif;
}

#nav li a,#nav li {
float:left;
}

#nav li {
list-style:none;
position:relative;
}

#nav li a {
line-height: 45px;
padding:0 15px;
text-decoration:none;
margin:0 auto;
font-size:15px;
font-weight:700;
text-transform:uppercase;
}

/*====================
    Подменю 
=====================*/
#nav li ul {
display:none;
position:absolute;
left:0;
top:100%;
padding:0;
margin:0;
} /* стереть подменю */

#nav li:hover > ul {
display:block;
} /* show submenu on hover */

#nav li ul li,#nav li ul li a {
float:none;
height: 35px; /* submenu item height */
min-width: 150px; /* submenu item minimal width */
line-height: 35px;
border-right: 0;
text-shadow: none;
display:block;
font-size:13px;
font-weight:400;
text-transform:inherit;
} /* Submenu item */

#nav li ul li {
display:inline; /* for IE */
}

/* == 12. Sub-Sub Menu == */
#nav li ul li ul {
display:none;
}

#nav li ul li:hover ul {
left:100%;
top:0;
}


/*====================
    Поисковая форма
====================*/

.searchform {
position: absolute;
left: 35%;
top: 20px;
display: inline-block;
zoom: 1;
display: inline;
border: 0;
padding: 0;

}
.searchform input {
font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
height: 27px;
line-height: 27px;
padding-left: 10px;
padding-right: 10px;
width: 150px;
border: 2px solid #333;
outline: none;
-webkit-border-radius: 2em;
-moz-border-radius: 2em;
border-radius: 2em;
-moz-box-shadow: inset 1px 1px 2px #A1A1A1;
-webkit-box-shadow: inset 1px 1px 2px #A1A1A1;
box-shadow: inner 1px 1px 2px #A1A1A1;
}

.searchfield:focus{
font-weight: 700;
width: 220px;
}

.searchfield:not(:focus){
width: 150px;
}


/*========================
        Переходы
========================*/

#nav li a:hover,
#nav li ul li a:hover  {
-webkit-transition-property:color, background; 
-webkit-transition-duration: 0.5s, 0.5s; 
-webkit-transition-timing-function: linear, ease-out;
}

.searchfield:focus,
.searchfield:not(:focus){
-webkit-transition-property:width; 
-webkit-transition-duration: 0.5s, 0.5s; 
-webkit-transition-timing-function: linear, ease-out;
}

#menu_div:hover,
#navigation:hover,
#nav li ul a, 
#menu_div,
#navigation, 
#nav li a, 
#menu_div:not(:hover), 
#navigation:not(:hover)
{
-webkit-transition-property:opacity; 
-webkit-transition-duration: 0.5s, 0.5s; /* duration in seconds */
-webkit-transition-timing-function: linear, ease-out;
} /* Анимация прозрачности */


 .fig {
    text-align: center; /* Выравнивание по центру */ 
   }

